 html, body {
  margin: 0;
  padding: 0;
 }

.container {
  columns: 2;
  column-gap: 20px;
}
p {
    color: rgb(78, 16, 70);
    font-size: 105%;
}
#headingp{
    font-size: 150%;
    text-align: center;
}
.p2{
  padding: 15px 5px 15px;
  margin: 0 auto;
  
  text-align: center;
  max-width: 90%;
}
.p1{
  padding: 15px 5px 15px;
  margin: 0 auto;
 
  text-align: center;
  max-width: 90%;
}
/* once screen is less than 915px, changes from 2 column layout to 1 column layout */
@media only screen and (max-width: 915px) {
  .container {
    columns: 1;
    column-gap: 20px;
  }
}